body {
  overflow-x: hidden;
}
.bulet {
  border-radius: 30px;
}
.btn-orange {
  background-color: #ff9a00 !important;
  color: white;
  text-shadow: 0 0 0px black !important;
  transition: 0.3s;
  box-sizing: border-box !important;
  border: 2px solid #ff9a00;
}
.btn-re {
  border-radius: 30px;
  background-color: #ff9a00 !important;
  border: 1px solid #ff9a00;
  color: white !important;
  transition: ease-in 0.2s;
}
.btn-re:hover {
  background-color: transparent !important;
  color: #ff9a00 !important;
}
.btn-orange:hover {
  background-color: transparent !important;
  color: #ff9a00;
}
.jumbotron {
  background-image: url("../img/jmb.jpg");
  background-size: cover;
  height: 450px;
  color: white;
  text-shadow: 0 0 1px black !important;
  position: relative;
}
.jumbotron .container {
  z-index: 1;
  position: relative;
}
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  bottom: 0;
}
.judul::after {
  /* width: 100px;
    padding: 8px;
    border-bottom: 3px solid #ff9a00; */
  content: "";
  display: block;
  border-bottom: 3px solid #ff9a00;
  width: 80px;
  margin: auto;
  padding: 5px;
}
.section-judul::after {
  content: "";
  display: block;
  border-bottom: 3px solid #ff9a00;
  width: 80px;
  padding: 5px;
}
.card {
  border-radius: 15px;
}
input {
  border: 1px solid #ff9a00 !important;
}
.login {
  height: 400px;
}
.uppercase {
  text-transform: uppercase;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 20%;
  max-width: 20%;
  min-height: 100vh;
  background-color: #ff9a00;
}
#content {
  padding: 70px 100px 0px 300px;
}
nav .sidebar-header {
  padding: 10px;
  text-align: center;
  background-color: #e68d09;
}
nav ul.component li {
  padding: 12px 40px 12px 40px;
  background-color: #ff9a00;
  transition: 0.3s;
  border-bottom: 1px solid #e68d09;
}
nav ul.component li a {
  color: white;
  transition: 0.3s;
}
nav ul.component li:hover {
  background-color: hsl(44, 93%, 62%);
}
nav ul.component li:hover a {
  color: white;
  text-decoration: none;
}
section {
  display: block;
  width: 100%;
}
section h6 {
  /* display: block; */
  background: rgb(238, 238, 238);
  margin-top: 20px;
  padding: 15px;
  border-radius: 4px;
  margin-top: -10px;
  /* width: 100%!important; */
}
.method {
  margin-top: 15px;
  font-weight: 470;
}
.desk {
  padding: 10px;
  font-weight: 470;
}
.desk span {
  background-color: rgb(231, 229, 229);
  padding: 2px;
  border-radius: 1px;
  font-weight: bold;
}
.method span {
  box-sizing: border-box;
  background: rgb(231, 229, 229);
  padding: 2px;
  font-size: 1.2em;
  font-weight: 500;
}
.script {
  margin-top: 20px;
  background-color: rgb(228, 228, 228);
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: scroll;
  color: black;
  /* padding: 10px 20px 20px 20px; */
}
.id {
  background-color: rgb(195, 195, 195);
  padding: 2px;
  border-radius: 4px;
}
.img-ser {
  width: 50px;
}
.title-ser {
  margin-top: 30px;
}
.kart {
  padding: 50px 20px 20px 20px;
  /* background-color: crimson; */
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}
.orange {
  background-color: #ff9a00;
}
.token {
  width: 100px;
  height: 100px;
  margin-top: -1px;
  background-color: rgb(228, 228, 228);
  width: 81%;
  height: 80px;
  border-radius: 5px;
  overflow: scroll;
  /* color: rgb(49, 98, 233); */
}
.side-title {
  text-decoration: none;
}
.side-title:hover {
  text-decoration: none;
}

@media (max-width: 991.98px) {
  #sidebar {
    display: none;
  }
  #content {
    padding: 70px 0px 0px 70px;
  }
  .token {
    width: 94%;
  }
}
@media (max-width: 768px) {
  #sidebar {
    display: none;
  }
  #content {
    padding: 70px 0px 0px 50px;
  }
  .token {
    display: block;
    width: 100%;
  }
}
